body {
    padding: 50px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.table-container {
    width: 1600px;
    margin: auto;
}

td.direAxisLabel {
    font-family: 'Trajan Bold';
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: red;
}

td.radiantAxisLabel {
    font-family: 'Trajan Bold';
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    width: 30px;
    color: green;
}

.vertical {
    white-space: nowrap;
    writing-mode: sideways-lr;
}

.value-cell, .header-cell {
    min-width: 15px;
    width: 15px;
    height: 12px;
    line-height: 12px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.value-cell {
    font-size: 9px;
}

.header-cell {
    font-size: 11px;
}

.hover, .header-hover {
    width: 100%;
    height: 100%;
}

.hover.over {
    background-color: black;
    color: white;
    font-weight: bold;
}

.hover.adjhover {
    background-color: rgba(187, 187, 187, 0.50);
}

.header-hover.adjhover {
    background-color: yellow;
    font-size:12px;
    color:black;
}

/* Color legend */
.gradient-1 {
    background-color: dodgerblue;
    cursor: pointer;
}

.gradient-2 {
    background-color: lightskyblue;
    cursor: pointer;
}

.gradient-3 {
    background-color: lightgreen;
    cursor: pointer;
}

.gradient-4 {
    background-color: yellow;
    cursor: pointer;
}

.gradient-5 {
    background-color: coral;
    cursor: pointer;
}

.gradient-6 {
    background-color: red;
    cursor: pointer;
}

/* Blue Gradient
.gradient-1 {
    background-color: #75A2BF;
}

.gradient-2 {
    background-color: #5E8CAD;
}

.gradient-3 {
    background-color: #46769B;
}

.gradient-4 {
    background-color: #2F5F8A;
}

.gradient-5 {
    background-color: #174978;
}

.gradient-6 {
    background-color: #003366;
}
*/