body {
    padding: 50px;
}

a {
    color: #00B7FF;
}

.table-container {
    width: 1600px;
    margin: auto;
}

.col-value {
    min-width: 8px;
    width: 8px;
    height: 8px;
    line-height: 8px;
    padding: 0;
    text-align: center;
    font-size: 9px;
}

.col-header {
    min-width: 12px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    padding: 0;
    text-align: center;
    font-size: 12px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    overflow: hidden;
    width: 100%;
}

td {
    border: 1px solid lightgray;
}

td, th, .row, .col {
    padding: 10px;
    position: relative;
}

/*td:hover::before, .row:hover::before {
    background-color: rgb(255, 255, 170, 0.75);
    content: '\00a0';
    height: 100%;
    left: -5000px;
    position: absolute;
    top: 0;
    width: 10000px;
    z-index: -1;
}


td:hover::after, .col:hover::after {
    background-color: rgb(255, 255, 170, 0.75);
    content: '\00a0';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
}*/

.hover.over {
    background-color: rgba(187, 187, 187, 0.60);
}

.hover.adjhover, .hover.adjhover {
    background-color: rgba(187, 187, 187, 0.30) /*#AAAAAA*/;
}


/* Color legend */
.gradient-1 {
    background-color: dodgerblue;
    cursor: pointer;
}

.gradient-2 {
    background-color: lightskyblue;
    cursor: pointer;
}

.gradient-3 {
    background-color: lightgreen;
    cursor: pointer;
}

.gradient-4 {
    background-color: yellow;
    cursor: pointer;
}

.gradient-5 {
    background-color: coral;
    cursor: pointer;
}

.gradient-6 {
    background-color: red;
    cursor: pointer;
}

/* Blue Gradient
.gradient-1 {
    background-color: #75A2BF;
}

.gradient-2 {
    background-color: #5E8CAD;
}

.gradient-3 {
    background-color: #46769B;
}

.gradient-4 {
    background-color: #2F5F8A;
}

.gradient-5 {
    background-color: #174978;
}

.gradient-6 {
    background-color: #003366;
}
*/