extends layout

block content
  div(class='row')
    div(class='col')
        p test
    div(class='col')
        p col 2
    div(class='col')
        p col 3

  script.
      $(document).ready(function(){
        $.ajax({
              url: "/getScorigamiMatrix",
              type: "get",
              contentType: "application/json",
              success: function(result) {
                console.log(result[24][23]);
              },
              error: function(result) {
                console.log("Error when trying to load Scorigami matrix.");
              }
        });
      });